/***********/
/* imports */
/***********/

@import "params";
@import "functions";

/***********/
/* general */
/***********/

/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */

.container {
    direction: rtl;
    text-align: right;
}

/**********/
/* header */
/**********/

header {
    right: 0;
    left: auto;

    /**************/
    /* header top */
    /**************/

    #header-top {

        /**************/
        /* place logo */
        /**************/

        #logo {
            float: right;
            margin-left: 20px;
            margin-right: auto;

            &:before {
                right: 0;
                left: auto;
            }
        }

        /**********/
        /* credit */
        /**********/

        #credit {
            float: right;
            margin-left: 15px;
            margin-right: auto;
            text-align: right;

            #credit-image {
                float: right;
                margin-left: 15px;
                margin-right: auto;
            }
        }

        /**********************/
        /* languages switcher */
        /**********************/

        .language-switcher {
            float: right;
        }

        /***********/
        /* BH logo */
        /***********/

        #bh-logo a {
            float: left;
        }
    }

    /*****************/
    /* header bottom */
    /*****************/

    #header-bottom {
        .navbar-header {
            .navbar-toggle {
                float: left;
                margin-left: 15px;
            }
        }

        .nav {
            float: right;
            padding-right: 0;
            
            li {
                float: right;
                padding-right: 0;
            }
        }
    }
}

/********/
/* main */
/********/

body.page-template-main {

    /*****************/
    /* section title */
    /*****************/

    .data-type-section {

        /*************/
        /* timeline */
        /*************/

        &#data-type-section-timeline {
            #timeline-embed {
                .tl-storyslider {

                    /***********/
                    /* sliders */
                    /***********/

                    .tl-text {
                        text-align: right;
                        direction: rtl;
                    }
                }

                .tl-timenav {

                    /*************/
                    /* navigator */
                    /*************/

                    .tl-timemarker {
                        text-align: right;
                        direction: rtl;
                    }
                }
            }
        }

        /*************/
        /* indexer */
        /*************/

        .letter-index-container {

            li {
                float: right;
                text-align: center;
            }
        }

        /*************/
        /* community */
        /*************/

        &#data-type-section-community, &#data-type-section-luminary {

            .item-preview {
                direction: rtl;
                text-align: right;

                .thumbnail {
                    left: 0;
                    right: auto;

                    img {
                        left: 0;
                        right: auto;
                    }
                }

                .text-part {
                    border-left: 42px solid transparent;
                    border-right: 0px;

                    &--nothumb {
                        border-left: 0px solid #ffffff;
                        border-right: 0px;
                    }

                    .diagonal-block {
                        @include flip ();
                    }   
                }

            }
        }

        /*********/
        /* photo */
        /*********/

        &#data-type-section-photo {
        }

        /*********/
        /* video */
        /*********/

        &#data-type-section-video {
            text-align: right;

            .col-sm-6 {

                figure {

                    figcaption {
                        text-align: right;
                    }
                }
            }
        }
    }
}

/**********/
/* footer */
/**********/

footer {
    
    .container {

        /**************/
        /* place logo */
        /**************/

        #logo {
            float: right;
            margin-left: 0;
            margin-left: 20px;
            text-align: right;
        }

        /**********/
        /* credit */
        /**********/

        #credit {
            float: right;
            margin-right: auto;
            margin-left: 15px;
        
            #credit-image {
                float: right;
                margin-left: 15px;
                margin-right: 0;
            }
        }

        /*************/
        /* about btn */
        /*************/

        .about-btn {
            float: right;
        }

        /**********************/
        /* languages switcher */
        /**********************/

        .language-switcher {
            float: right;
        }

        /***********/
        /* BH logo */
        /***********/

        #bh-logo a {
            float: left;
        }
    }
}

/**************************/
/* languages switcher btn */
/**************************/

.language-switcher-btn {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

/*******/
/* btn */
/*******/

.bhjs-btn {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

/**************/
/* PhotoSwipe */
/**************/

.pswp {
    .pswp__caption {
        .pswp__caption__center {
            direction: rtl;
        }
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    header #header-bottom nav li a {
        .navbar-nav>li {
            float: right;
        }
    }
}

@media (max-width: 991px) {
    header {
        #header-top {
            .language-switcher {
                float: left;
            }
        }
    }
}

@media (max-width: 767px) {
    header {
        #header-bottom {
            .nav {
                float: none;

                li {
                    float: none;
                }
            }
        }
    }

    footer {
        .container {

            /**************/
            /* place logo */
            /**************/

            #logo {
                float: none;
                display: block;
                margin: 0 auto 20px;
                text-align: center;
            }

            #credit {
                float: none;
            }

            #bh-logo a {
                margin: 0 auto;
                float: none;
            }
        }
    }
}